:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: Noto Sans KR, Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
    color: #003580;
    margin-bottom: 20px;
    font-size: 2rem;
}

button {
  padding: 10px 20px;
    background-color: #fc0;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    align-self: center;
}
button:hover {
  background-color:#FFD633;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #333;
    background-color: #f4f4f9;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #fc0;
  }
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 8px;
  align-items: flex-end;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field label {
  margin-bottom: 5px;
  font-weight: 700;
}

input[type=text], input[type=number] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px #0000001a;
  border-radius: 8px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #e6e6fa;
  border-radius: 8px;
  overflow: hidden;
}


thead {
  display: table-header-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

th {
  background-color: #003580;
  color: #fff;
  font-weight: 700;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

td {
  vertical-align: middle;
  color: #333;
}


td button {
  background-color: #dc3545;
  border: none;
  padding: 5px 10px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}